---
---

<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>

<style>
  ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
  }

  li{
    margin-right: .5rem;
  }

  li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000
  }

</style>